<!DOCTYPE html>
<html xmls:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Login</title>
        <meta charset="UTF-8"/>
        <meta name ="description" content="Loginpage">
        <meta name ="keywords" content="gaming,nintendo,sony,microsoft,html5,css3">
        <link href="/css/style.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        
        <header th:replace="layout/plantilla :: header" ></header>
        
        <div class="texto">
        <h2 class="title"> Login </h2>
        <h3><label>Nombre de usuario</label><input type="text" name="Nombreusuario" value="" size="50"/><br></h3>
        <h3><label>Contraseña:</label> <input type="password" name="pass"/><br></h3>
        <h3><label>Terminos y condiciones:</label> <input type="checkbox" name="checkbox" value="Esta de acuerdo"/><br></h3>
         <h3><label>Ingresar:</label> <input type="submit" name="submit"/><br></h3>
        </div>
        <footer th:replace="layout/plantilla :: footer" ></footer>
    
    </body>
</html>
