<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://wwww.thymeleaf.org" 
      xmlns:sec="http://thymeleaft.org/extras/spring-security">
<head th:replace="layout/plantilla :: head">
        <title>Mapa</title>
    </head>
    <body>
         <header th:replace="layout/plantilla :: header" ></header>
        
        <div class="texto ">
            
       <div class="texto col-lg-6">  
       <h3 class="title display-3 py-1 mb-5 fw-bold" style="background-color: goldenrod"> Contactenos <span class="badge bg-dark">24/7</span></h3>   
       
        <i class="fa-solid fa-phone"></i><p class="lead fw-bold">Soporte al cliente 8000-Golden (8000-4012)</p>
        <br>
        <i class="fa-brands fa-whatsapp"></i><p class="lead fw-bold">Whatsapp 7172-7374</p>
        <br>
        <i class="fa-solid fa-envelope"></i><p class="lead fw-bold">Correo Soporte@goldengaming.co.cr</p>
        </div>
            
        <hr>
        <br><!-- comment -->
            
        <div class="texto col-lg-6">  
        <h3 class="title display-3 py-1 mb-5 fw-bold" style="background-color: goldenrod">Redes sociales</h3>
        <i class="fa-brands fa-facebook"></i><a class="link" style="color: white" href="https://www.facebook.com/" target="_blank"> <h4 class="lead fw-bold"> Facebook </h4> </a>
        <i class="fa-brands fa-twitter"></i><a class="link" style="color: white" href="https://twitter.com/?msclkid=77eb8fafabf211ec9b1a5c772b6e9a20" target="_blank"> <h4 class="lead fw-bold"> Twitter </h4> </a>
        <i class="fa-brands fa-instagram"></i><a class="link" style="color: white" href="https://www.instagram.com/?msclkid=b1784819abf211eca4613ea94873a212"> <h4 class="lead fw-bold"> Instagram </h4> </a>
        <i class="fa-brands fa-youtube"></i><a class="link" style="color: white" href="https://www.youtube.com/"> <h4 class="lead fw-bold"> Youtube </h4> </a>
        </div>
        
        <hr>
        <br>
            
        <h2 class="title display-3 py-1 mb-5 fw-bold" style="background-color: goldenrod"> Ubicacion </h2>
        </div>
         <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3929.1512195626888!2d-84.21389148473274!3d10.004365175702869!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8fa0f9bec89eb921%3A0x33be443103056771!2sCity%20Mall!5e0!3m2!1ses!2scr!4v1648182124868!5m2!1ses!2scr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe><!-- comment -->
         
        <hr>
        <br>
            
        <div class="texto col-lg-6">    
        <h2 class="title display-3 py-1 mb-5 fw-bold" style="background-color: goldenrod"> Mas sitios: </h2>
        <div>
            <li class="d-flex"><a class="link" style="color: white" href="https://goo.gl/maps/82FP5VjNmqyUdetC9" target="_blank"> <h4 class="lead fw-bold"> Plaza lincoln </h4> <p>Segundo piso, Local 2001</p> <p>8am - 7pm</p></a></li>
            <li class="d-flex"><a class="link" style="color: white" href="https://goo.gl/maps/x2Tkipzif8nFKyLp7" target="_blank"> <h4 class="lead fw-bold"> Paseo de las flores </h4> <p>primer piso, Local 44</p> <p>8am - 7pm</p></a></li>
                <li class="d-flex"><a class="link" style="color: white" href="https://goo.gl/maps/v2rbwHc6EDqy51m1A" target="_blank"> <h4 class="lead fw-bold"> Multiplaza Escazu </h4> <p>Tercer piso, Local 401</p> <p>8am - 7pm</p></a></li>
        </div>
        
        <hr>
        <br>
            
        </div>
        <footer th:replace="layout/plantilla :: footer" ></footer>
    </body>
</html>
