<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://wwww.thymeleaf.org" 
      xmlns:sec="http://thymeleaft.org/extras/spring-security">
    <head th:replace="layout/plantilla :: head">
        <title>Infantil</title>
    </head>
    <body>
        <header th:fragment="header" class="header">
            <section th:fragment="botonesAgregar" class="py-4 mb-4 bg-warning shadow-sm rounded">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3" sec:authorize="hasRole('ROLE_ADMIN')">   
                            <button 
                                type="button" 
                                class="btn btn-dark btn-block" 
                                data-bs-toggle="modal" 
                                data-bs-target="#agregarInfantil">
                                <i class="fas fa-plus"></i> [[#{accion.agregar}]]
                            </button>
                        </div>
                    </div>
                </div>
            </section>

            <section th:fragment="agregarInfantil">
                <div id="agregarInfantil" class="modal fade" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header bg-warning text-dark">
                                <h5 class="modal-title" th:text="#{accion.agregar}">Agregar Infantil</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div> 
                            <form th:action="@{/infantil/guardar}" th:object="${infantil}"
                                  method="POST" class="was-validated">
                                <div class="modal-body">
                                    <div class="form-group">
                                        <label for="nombre" th:text="#{infantil.nombre}" style="color: black">Nombre</label>
                                        <input type="text" class="form-control" name="nombre" required="true">
                                    </div>
                                    <div class="form-group">
                                        <label for="precio" th:text="#{infantil.precio}" style="color: black">Precio</label>
                                        <input type="number" class="form-control" name="precio" required="true"  step="any">
                                    </div>
                                    <div class="form-group">
                                        <label for="edadrecomendada" th:text="#{infantil.edadrecomendada}" style="color: black">Edad Recomendada</label>
                                        <input type="text" class="form-control" name="edadrecomendada" required="true">
                                    </div>
                                    <div class="form-group">
                                        <label for="descripcion" th:text="#{infantil.descripcion}" style="color: black">Descripción</label>
                                        <input type="text" class="form-control" name="descripcion">
                                    </div>
                                    <div class="form-group">
                                        <label for="videojuego" style="color: black">Videojuego</label>
                                        <input type="number" class="form-control" name="videojuego" required="true">
                                    </div>
                                    <div class="form-group">
                                        <label for="producto" style="color: black">Producto</label>
                                        <input type="number" class="form-control" name="producto" required="true">
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button class="btn btn-dark" type="submit" th:text="#{accion.guardar}">Guardar</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </section>

            <section th:fragment="listadoInfantils" id="infantils">
                <div class="container">
                    <div class="row">
                        <div class="col-md-9">
                            <div class="card text-white bg-dark mb-3 border-warning mb-3">
                                <div class="card-header">
                                    <h4>[[#{infantil.titulo}]]</h4>
                                </div>
                                <div th:if="${infantils != null and !infantils.empty}">
                                    <table class="table table-warning">
                                        <thead class="thead-dark">
                                            <tr>
                                                <th>#</th>
                                                <th th:text="#{infantil.nombre}">Nombre</th>
                                                <th th:text="#{infantil.precio}">Precio</th>
                                                <th th:text="#{infantil.edadrecomendada}">Edad Recomendada</th>
                                                <th th:text="#{infantil.descripcion}">Descripcion</th>
                                                <th th:text="#{infantil.tipogarantia}">Tipo de garantía</th>
                                                <th th:text="#{infantil.genero}">Género</th>
                                                <th th:text="#{accion.eliminar}">Eliminar</th>
                                                <th th:text="#{accion.actualizar}">Modificar</th>
                                                <th></th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr th:each="infantil, contador : ${infantils}">
                                                <td>[[${contador.count}]]</td>
                                                <td th:text="${infantil.nombre}"></td>
                                                <td th:text="${#numbers.formatDecimal(infantil.precio,3,2)}" style="text-align: right"></td>
                                                <td th:text="${infantil.edadrecomendada}"></td>
                                                <td th:text="${infantil.descripcion}"></td>
                                                <td th:text="${infantil.producto.tipogarantia}"></td>
                                                <td th:text="${infantil.videojuego.genero}"></td>

                                                <td>
                                                    <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/infantil/eliminar/}+${infantil.idInfantil}"
                                                       class="btn btn-dark">
                                                        <i class="fa-solid fa-trash"></i> [[#{accion.eliminar}]]
                                                    </a>
                                                </td>
                                                <td>
                                                    <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/infantil/modificar/}+${infantil.idInfantil}"
                                                       class="btn btn-dark">
                                                        <i class="fa-solid fa-pencil"></i> [[#{accion.actualizar}]]
                                                    </a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="text-center p-2" th:if="${infantils == null or infantils.empty}">
                                    <span th:text="#{infantil.no_mostrar}">Lista vacía</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card text-center text-dark bg-warning mb-3">
                                <div class="card-body">
                                    <h3 th:text="#{infantil.titulo}">Infantil</h3>
                                    <h4 class="display-6">
                                        <i class="fa-solid fa-gamepad"></i>[[${totalInfantils}]]
                                    </h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section th:fragment="botonesEditar">
                <div id="actions" class="py-4 mb-4 bg-light">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-3">
                                <a th:href="@{/infantil/principal}" class="btn btn-dark btn-block">
                                    <i class="fa-solid fa-backward"></i> [[#{accion.regresar}]]
                                </a>
                            </div>
                            <div class="col-md-3">
                                <button type="submit" class="btn btn-dark btn-block">
                                    <i class="fa-solid fa-floppy-disk"></i> [[#{accion.guardar}]]
                                </button>
                            </div>
                            <div class="col-md-3">
                                <a th:href="@{/infantil/eliminar/}+${infantil.idInfantil}"
                                   class="btn btn-dark btn-block">
                                    <i class="fa-solid fa-trash-can-xmark"></i> [[#{accion.eliminar}]]
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section th:fragment="editarInfantil">            
                <form method="POST"
                      th:action="@{/infantil/guardar}"
                      th:object="${infantil}"
                      class="was-validated">
                    <input type="hidden" name="idInfantil" th:field="*{idInfantil}"/>
                    <div id="details">
                        <div class="container">
                            <div class="row">
                                <div class="col">
                                    <div class="card text-white bg-dark mb-3 border-warning mb-3">
                                        <div class="card-header">
                                            <h4>[[#{accion.actualizar}]]</h4>
                                        </div>
                                        <div class="card-body">
                                            <div class="form-group">
                                                <label for="nombre" th:text="#{infantil.nombre}">Nombre</label>
                                                <input type="text" class="form-control" name="nombre" th:field="*{nombre}">
                                            </div>
                                            <div class="form-group">
                                                <label for="precio" th:text="#{infantil.precio}">Precio</label>
                                                <input type="number" class="form-control" name="precio" th:field="*{precio}">
                                            </div>
                                            <div class="form-group">
                                                <label for="edadrecomendada" th:text="#{infantil.edadrecomendada}">Edad Recomendada</label>
                                                <input type="text" class="form-control" name="edadrecomendada" th:field="*{edadrecomendada}">
                                            </div>
                                            <div class="form-group">
                                                <label for="descripcion" th:text="#{infantil.descripcion}">Descripción</label>
                                                <input type="text" class="form-control" name="descripcion" th:field="*{descripcion}">
                                            </div>
                                            <div class="form-group">
                                                <label for="videojuego" >Videojuego</label>
                                                <input type="number" class="form-control" name="videojuego" th:field="*{videojuego}" />
                                            </div> 
                                            <div class="form-group">
                                                <label for="producto" >Producto</label>
                                                <input type="number" class="form-control" name="producto" th:field="*{producto}" />
                                            </div>                   
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <section th:replace="infantil/fragmentosInfantil :: botonesEditar"/>
                </form>
            </section>
    </body>
</html>
