<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://wwww.thymeleaf.org" 
      xmlns:sec="http://thymeleaft.org/extras/spring-security">
    <head th:replace="layout/plantilla :: head">
        <title>Periferico</title>
    </head>
    <body>
        <header th:fragment="header" class="header">
            <section th:fragment="botonesAgregar" class="py-4 mb-4 bg-warning shadow-sm rounded">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3" sec:authorize="hasRole('ROLE_ADMIN')">   
                            <button 
                                type="button" 
                                class="btn btn-dark btn-block" 
                                data-bs-toggle="modal" 
                                data-bs-target="#agregarPeriferico">
                                <i class="fas fa-plus"></i> [[#{accion.agregar}]]
                            </button>
                        </div>
                    </div>
                </div>
            </section>

            <section th:fragment="agregarPeriferico">
                <div id="agregarPeriferico" class="modal fade" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header bg-warning text-dark">
                                <h5 class="modal-title" th:text="#{accion.agregar}">Agregar Periferico</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div> 
                            <form th:action="@{/periferico/guardar}" th:object="${periferico}"
                                  method="POST" class="was-validated">
                                <div class="modal-body">
                                    <div class="form-group">
                                        <label for="nombre" th:text="#{periferico.nombre}" style="color: black">Nombre</label>
                                        <input type="text" class="form-control" name="nombre" required="true">
                                    </div>
                                    <div class="form-group">
                                        <label for="precio" th:text="#{periferico.precio}" style="color: black">Precio</label>
                                        <input type="number" class="form-control" name="precio" required="true"  step="any">
                                    </div>
                                    <div class="form-group">
                                        <label for="marca" th:text="#{periferico.caracteristicas}" style="color: black">Caracteristicas</label>
                                        <input type="text" class="form-control" name="caracteristicas" required="true">
                                    </div>
                                    <div class="form-group">
                                        <label for="marca" th:text="#{periferico.marca}" style="color: black">Marca</label>
                                        <input type="text" class="form-control" name="marca" required="true">
                                    </div>
                                    <div class="form-group">
                                        <label for="descripcion" th:text="#{periferico.descripcion}" style="color: black">Descripción</label>
                                        <input type="text" class="form-control" name="descripcion">
                                    </div>
                                    <div class="form-group">
                                        <label for="producto" style="color: black">Producto</label>
                                        <input type="number" class="form-control" name="producto" required="true">
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button class="btn btn-dark" type="submit" th:text="#{accion.guardar}">Guardar</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </section>

            <section th:fragment="listadoPerifericos" id="perifericos">
                <div class="container">
                    <div class="row">
                        <div class="col-md-9">
                            <div class="card text-white bg-dark mb-3 border-warning mb-3">
                                <div class="card-header">
                                    <h4>[[#{periferico.titulo}]]</h4>
                                </div>
                                <div th:if="${perifericos != null and !perifericos.empty}">
                                    <table class="table table-warning">
                                        <thead class="thead-dark">
                                            <tr>
                                                <th>#</th>
                                                <th th:text="#{periferico.nombre}">Nombre</th>
                                                <th th:text="#{periferico.precio}">Precio</th>
                                                <th th:text="#{periferico.caracteristicas}">Caracteristicas</th>
                                                <th th:text="#{periferico.marca}">Marca</th>
                                                <th th:text="#{periferico.descripcion}">Descripcion</th>
                                                <th th:text="#{periferico.tipogarantia}">Tipo de garantía</th>
                                                <th th:text="#{accion.eliminar}">Eliminar</th>
                                                <th th:text="#{accion.actualizar}">Modificar</th>
                                                <th></th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr th:each="periferico, contador : ${perifericos}">
                                                <td>[[${contador.count}]]</td>
                                                <td th:text="${periferico.nombre}"></td>
                                                <td th:text="${#numbers.formatDecimal(periferico.precio,3,2)}" style="text-align: right"></td>
                                                <td th:text="${periferico.caracteristicas}"></td>
                                                <td th:text="${periferico.marca}"></td>
                                                <td th:text="${periferico.descripcion}"></td>
                                                <td th:text="${periferico.producto.tipogarantia}"></td>

                                                <td>
                                                    <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/periferico/eliminar/}+${periferico.idPeriferico}"
                                                       class="btn btn-dark">
                                                        <i class="fa-solid fa-trash"></i> [[#{accion.eliminar}]]
                                                    </a>
                                                </td>
                                                <td>
                                                    <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/periferico/modificar/}+${periferico.idPeriferico}"
                                                       class="btn btn-dark">
                                                        <i class="fa-solid fa-pencil"></i> [[#{accion.actualizar}]]
                                                    </a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="text-center p-2" th:if="${perifericos == null or perifericos.empty}">
                                    <span th:text="#{periferico.no_mostrar}">Lista vacía</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card text-center text-dark bg-warning mb-3">
                                <div class="card-body">
                                    <h3 th:text="#{periferico.titulo}">Periferico</h3>
                                    <h4 class="display-6">
                                        <i class="fa-solid fa-gamepad"></i>[[${totalPerifericos}]]
                                    </h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section th:fragment="botonesEditar">
                <div id="actions" class="py-4 mb-4 bg-light">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-3">
                                <a th:href="@{/periferico/principal}" class="btn btn-dark btn-block">
                                    <i class="fa-solid fa-backward"></i> [[#{accion.regresar}]]
                                </a>
                            </div>
                            <div class="col-md-3">
                                <button type="submit" class="btn btn-dark btn-block">
                                    <i class="fa-solid fa-floppy-disk"></i> [[#{accion.guardar}]]
                                </button>
                            </div>
                            <div class="col-md-3">
                                <a th:href="@{/periferico/eliminar/}+${periferico.idPeriferico}"
                                   class="btn btn-dark btn-block">
                                    <i class="fa-solid fa-trash-can-xmark"></i> [[#{accion.eliminar}]]
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section th:fragment="editarPeriferico">            
                <form method="POST"
                      th:action="@{/periferico/guardar}"
                      th:object="${periferico}"
                      class="was-validated">
                    <input type="hidden" name="idPeriferico" th:field="*{idPeriferico}"/>
                    <div id="details">
                        <div class="container">
                            <div class="row">
                                <div class="col">
                                    <div class="card">
                                        <div class="card-header">
                                            <h4>[[#{accion.actualizar}]]</h4>
                                        </div>
                                        <div class="card-body">
                                            <div class="form-group">
                                                <label for="nombre" th:text="#{periferico.nombre}">Nombre</label>
                                                <input type="text" name="nombre" th:field="*{nombre}">
                                            </div>
                                            <div class="form-group">
                                                <label for="precio" th:text="#{periferico.precio}">Precio</label>
                                                <input type="number" name="precio" th:field="*{precio}">
                                            </div>
                                            <div class="form-group">
                                                <label for="caracteristicas" th:text="#{periferico.caracteristicas}">Caracteristicas</label>
                                                <input type="text" name="caracteristicas" th:field="*{caracteristicas}">
                                            </div>
                                            <div class="form-group">
                                                <label for="marca" th:text="#{periferico.marca}">Marca</label>
                                                <input type="text" name="marca" th:field="*{marca}" />
                                            </div>
                                            <div class="form-group">
                                                <label for="descripcion" th:text="#{periferico.descripcion}">Descripción</label>
                                                <input type="text" name="descripcion" th:field="*{descripcion}">
                                            </div>
                                            <div class="form-group">
                                                <label for="producto" >Producto</label>
                                                <input type="number" name="producto" th:field="*{producto}" />
                                            </div>                   
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <section th:replace="periferico/fragmentosPeriferico :: botonesEditar"/>
                </form>
            </section>
    </body>
</html>
