
<html xmls:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>GoldenGaming</title>
        <meta charset="UTF-8"/>
        <meta name ="description" content="GoldenGaimingpage">
        <meta name ="keywords" content="gaming,nintendo,sony,microsoft,html5,css3">
            <link href="/css/style.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <header th:replace="layout/plantilla :: header" ></header>
        
        <div class="texto">
        <h1 class="login">Login</h1>  
        <br>
        <hr>
        <br>
        <h2 class="title"> NOVEDADES!!! </h2>
        
        <hr>
        <br>
        <h2 class="title"> OFERTAS DE LOCURA!!! </h2>

        
        <hr>
        <br>
        </div>
        <footer th:replace="layout/plantilla :: footer" ></footer>
    
    </body>
    
</html>
