<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://wwww.thymeleaf.org" 
      xmlns:sec="http://thymeleaft.org/extras/spring-security">
    <head th:replace="layout/plantilla :: head">
        <title>Colecionismo</title>
    </head>
    <body>
        <header th:fragment="header" class="header">
            <section th:fragment="botonesAgregar" class="py-4 mb-4 bg-warning shadow-sm rounded">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4" sec:authorize="hasRole('ROLE_ADMIN')">   
                            <button 
                                type="button" 
                                class="btn btn-dark btn-block" 
                                data-bs-toggle="modal" 
                                data-bs-target="#agregarColecionismo">
                                <i class="fas fa-plus"></i> [[#{accion.agregar}]]
                            </button>
                        </div>
                    </div>
                </div>
            </section>

            <section th:fragment="listadoColecionismos" id="colecionismos">
                <div class="container">
                    <div class="row">
                        <div class="col-md-9">
                            <div class="card text-white bg-dark mb-3 border-warning mb-3">
                                <div class="card-header">
                                    <h4>[[#{colecionismo.titulo}]]</h4>
                                </div>
                                <div th:if="${colecionismos != null and !colecionismos.empty}">
                                    <table class="table table-warning">
                                        <thead class="thead-dark">
                                            <tr>
                                                <th>#</th>
                                                <th th:text="#{colecionismo.nombre}">nombre</th>
                                                <th th:text="#{colecionismo.precio}">precio</th>
                                                <th th:text="#{colecionismo.unidades}">unidades</th>
                                                <th th:text="#{colecionismo.marca}">marca</th>
                                                <th th:text="#{colecionismo.certificado}">certificado</th>
                                                <th th:text="#{colecionismo.descripcion}">Descripcion</th>
                                                <th th:text="#{colecionismo.tipogarantia}">Tipo de garantia</th>
                                                <th th:text="#{colecionismo.genero}">Genero</th>
                                                <th th:text="#{accion.eliminar}">Eliminar</th>
                                                <th th:text="#{accion.actualizar}">Modificar</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr th:each="colecionismo, contador : ${colecionismos}">
                                                <td>[[${contador.count}]]</td>
                                                <td th:text="${colecionismo.nombre}"></td>
                                                <td th:text="${#numbers.formatDecimal(colecionismo.precio,3,2)}" style="text-align: right"></td>
                                                <td th:text="${colecionismo.unidades}"></td>
                                                <td th:text="${colecionismo.marca}"></td>
                                                <td th:text="${colecionismo.certificado}"></td>
                                                <td th:text="${colecionismo.descripcion}"></td>
                                                <td th:text="${colecionismo.producto.tipogarantia}"></td>
                                                <td th:text="${colecionismo.videojuego.genero}"></td>
                                                <td>
                                                    <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/colecionismo/eliminar/}+${colecionismo.idColecionismo}"
                                                       class="btn btn-dark">
                                                        <i class="fa-solid fa-trash"></i></i> [[#{accion.eliminar}]]
                                                    </a>
                                                </td>
                                                <td>
                                                    <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/colecionismo/modificar/}+${colecionismo.idColecionismo}"
                                                       class="btn btn-dark">
                                                        <i class="fa-solid fa-pencil"></i></i> [[#{accion.actualizar}]]
                                                    </a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="text-center p-2" th:if="${colecionismos == null or colecionismos.empty}">
                                    <span th:text="#{colecionismo.no_mostrar}">Lista vacía</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card text-center text-dark bg-warning mb-3">
                                <div class="card-body">
                                    <h3 th:text="#{colecionismo.titulo}">Colecionismos</h3>
                                    <h4 class="display-6">
                                        <i class="fa-solid fa-gamepad"></i>[[${totalColecionismos}]]
                                    </h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>



            <section th:fragment="agregarColecionismo">
                <div id="agregarColecionismo" class="modal fade" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header bg-warning text-dark">
                                <h5 class="modal-title" th:text="#{accion.agregar}">Agregar Colecionismo</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div> 
                            <form th:action="@{/colecionismo/guardar}" th:object="${colecionismo}"
                                  method="POST" class="was-validated">
                                <div class="modal-body">
                                    <div class="form-group">
                                        <label for="nombre" th:text="#{colecionismo.nombre}" style="color: black">Nombre: </label>
                                        <input type="text" class="form-control" name="nombre" required="true">
                                    </div>
                                    <div class="form-group">
                                        <label for="precio" th:text="#{colecionismo.precio}" style="color: black">Precio: </label>
                                        <input type="number" class="form-control" name="precio" required="true" step="any">
                                    </div>
                                    <div class="form-group">
                                        <label for="unidades" th:text="#{colecionismo.unidades}" style="color: black">unidades: </label>
                                        <input type="number" class="form-control" name="unidades" required="true">
                                    </div>
                                    <div class="form-group">
                                        <label for="marca" th:text="#{colecionismo.marca}" style="color: black">marca: </label>
                                        <input type="text" class="form-control" name="marca" required="true">
                                    </div>
                                    <div class="form-group">
                                    <label for="certificado" th:text="#{colecionismo.certificado}" style="color: black">certificado: </label>
                                    <input type="checkbox" class="form-control" name="certificado"/>
                                    </div>
                                    <div class="form-group">
                                        <label for="descripcion" th:text="#{colecionismo.descripcion}" style="color: black">Descripcion: </label>
                                        <input type="text" class="form-control" name="descripcion" required="true">
                                    </div>  
                                    <div class="form-group">
                                        <label for="videojuego" style="color: black">Videojuego: </label>
                                        <input type="number" class="form-control" name="videojuego" required="true">
                                    </div>
                                    <div class="form-group">
                                        <label for="producto" style="color: black">Producto: </label>
                                        <input type="number" class="form-control" name="producto" required="true">
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button class="btn btn-dark" type="submit" th:text="#{accion.guardar}">Guardar</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>


            </section>
            
            
            <section th:fragment="botonesEditar">
                <div id="actions" class="py-4 mb-4 bg-light">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-3">
                                <a th:href="@{/colecionismo/principal}" class="btn btn-dark btn-block">
                                    <i class="fa-solid fa-backward"></i>[[#{accion.regresar}]]
                                </a>
                            </div>
                            <div class="col-md-3">
                                <button type="submit" class="btn btn-dark btn-block">
                                    <i class="fa-solid fa-floppy-disk"></i> [[#{accion.guardar}]]
                                </button>
                            </div>
                            <div class="col-md-3">
                                <a th:href="@{/colecionismo/eliminar/}+${colecionismo.idColecionismo}"
                                   class="btn btn-dark btn-block">
                                    <i class="fa-solid fa-trash-can-xmark"></i> [[#{accion.eliminar}]]
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section th:fragment="editarColecionismo">            
                <form method="POST"
                      th:action="@{/colecionismo/guardar}"
                      th:object="${colecionismo}"
                      class="was-validated">
                    <input type="hidden" name="idColecionismo" th:field="*{idColecionismo}"/> 
                    <div id="details">
                        <div class="container">
                            <div class="row">
                                <div class="col">
                                    <div class="card text-white bg-dark mb-3 border-warning mb-3">
                                        <div class="card-header">
                                            <h4>[[#{accion.actualizar}]]</h4>
                                        </div>
                                        <div class="card-body">
                                            <div class="form-group">
                                                <label for="nombre" th:text="#{colecionismo.nombre}">Nombre: </label>
                                                <input type="text" name="nombre" th:field="*{nombre}" />
                                            </div>
                                            <div class="form-group">
                                                <label for="precio" th:text="#{colecionismo.precio}">Precio: </label>
                                                <input type="number" name="precio" th:field="*{precio}" />
                                            </div>
                                            <div class="form-group">
                                                <label for="unidades" th:text="#{colecionismo.unidades}">unidades: </label>
                                                <input type="text" name="unidades" th:field="*{unidades}" />
                                            </div>
                                            <div class="form-group">
                                                <label for="marca" th:text="#{colecionismo.marca}">marca: </label>
                                                <input type="text" name="marca" th:field="*{marca}" />
                                            </div>
                                            <div class="form-group">
                                                 <label for="certificado" th:text="#{colecionismo.certificado}">certificado: </label>
                                                 <input type="checkbox" class="form-control" name="certificado" th:field="*{certificado}" />
                                            </div> 
                                            <div class="form-group">
                                                <label for="descripcion" th:text="#{colecionismo.descripcion}">Descripcion: </label>
                                                <input type="text" name="descripcion" th:field="*{descripcion}" />
                                            </div>
                                            <div class="form-group">
                                                <label for="videojuego" >Videojuego: </label>
                                                <input type="number" name="videojuego" th:field="*{videojuego}" />
                                            </div> 
                                            <div class="form-group">
                                                <label for="producto" >Producto: </label>
                                                <input type="number" name="producto" th:field="*{producto}" />
                                            </div> 
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <section th:replace="colecionismo/fragmentosColecionismo :: botonesEditar"/>
                </form>
            </section> 

    </body>
</html>
